* {
  box-sizing: border-box;
}

/* flexbox container */
.holy-grail-flexbox {
  display: flex;
  flex-wrap: wrap;
}

/* columns (mobile) */
.holy-grail-flexbox > * {
  width: 100%;
  padding: 1rem;
}

/* background colors */
.holy-grail-flexbox > .header {
  background: var(--primary-color);
  min-height: 5vh;
  margin-bottom: 2vh;
}

.holy-grail-flexbox > .main-content {
  min-height: 81vh;
}

.holy-grail-flexbox > .footer {
  min-height: 10vh;
  margin-top: 2vh;
}
